@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(74, 190, 229);
}

h1{
    margin-top: 40px;
}

h1, footer, a{ 
    text-align: center;
    color: white;
    text-decoration: none;
}

div{
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white;   
}

input#verificar{
    padding: 4px 5px;
}

img{
    border-radius: 50%;
}

footer{
    font-style: italic;
    padding: 20px;
}

a:hover{
    color: darkred;
    text-decoration: underline;
}

a:active{
    color: red;
}

