@charset "UTF-8";

@font-face {
    font-family: "ds-digital";
    src: url("fonte/DS-DIGI.TTF");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

header{
    height: 15vh;

    padding-top: 20px;
    background-color: aqua;
}

h1{
    font-family: "ds-digital";
    font-size: 4rem;
    text-align: center;
}

section{
    height: 80vh;
    margin: auto;

    background-color: blueviolet;
}

div{
    width: 600px;
    height: auto;

    margin: auto;

    border-radius: 20px;

}

div > p#p-relogio{
    font-family: "ds-digital";
    font-size: 10rem;
    text-align: center;
    
    padding: 10px;
}

#botao-hora{
    font-weight: bold;
    display: flex;
    margin: 20px auto;
    padding: 10px 15px;

    border: 1px solid #0000006e;
    border-radius: 10px;
}

#botao-hora:hover{
    background-color: #2cc12c
}

#botao-hora:active{
    background-color: green;
}

footer{
    text-align: center;
    line-height: 30px;
    height: 5vh;
    background-color: yellowgreen;
}

a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

a:hover{
    color: yellow;
    text-decoration: underline;
}

a:active{
    color: red;
}